@import '../../_css/common';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}
.text {
  font-size: 38px;
  letter-spacing: 0.1rem;
  background: linear-gradient(to right, #6be1ff, #ff93d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 3px solid #33333389; /* Imitate the typing cursor */
  animation: typewriter 2s steps(34) 1s 1 normal both,
  blinkTextCursor 700ms steps(44) infinite normal;

  @include mid-break {
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 27px;
    
  }
}
@keyframes typewriter{
from{width: 0;}
to{width: 8em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(233, 174, 198, 0.75);}
to{border-right-color: transparent;}
}

.parag {
  color: rgba(172, 117, 165, 0.797);
  margin-top: 25px;
  letter-spacing: 0.05rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  animation: fadein 22s;
  -moz-animation: fadein 22s; /* Firefox */
  -webkit-animation: fadein 22s; /* Safari and Chrome */
  -o-animation: fadein 22s; /* Opera */

  @include mid-break {
    margin-left: 2.7rem;
    font-size: 0.9rem;
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:0;
  }
  to {
    opacity:1;
}
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
}
to {
    opacity:0;
}
to {
  opacity:1;
}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
}
to {
    opacity:0;
}
to {
  opacity:1;
}
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
}
to {
    opacity:0;
}
to {
  opacity:1;
}
}