@import '../../_css/common';

.login {
  display: grid;
  grid-template-columns: 1fr 75%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(255,225,248,1) 0%, rgba(204,244,255,1) 100%);


  @include mid-break {
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgba(255,225,248,1) 0%, rgba(204,244,255,1) 100%);
  }

  p {
    color: rgb(255, 145, 145);
  }

}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-left: 50px;
  
  @include mid-break {
    height: 10vh; 
    max-width: 50vw;
  }

}
.wrap .text {
  font-size: 44px;
  font-weight: bold; 
  color: #333;
  max-width: 10px; 
  @include mid-break {
    font-size: 24px;
  }
}




.formTitle {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    margin: 0;

    @include mid-break {
      font-size: 34px;
      margin-bottom: 8px;
    }
  }

}


.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  

  @include mid-break {
    justify-content: flex-start;
    padding: 10px;
  }
}

.formContainer {
  max-width: 500px;
  width: 50%;
  padding: 4rem;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.218);
  box-shadow: 3px 5px 5px 1px rgba(5, 51, 104, 0.081);

  @include mid-break {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 30px;
  }
}

.params {
  margin-top: var(--base);
}