@import '../../_css/type.scss';

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(249, 39, 39, 0.293) 0%, #ff06a44b 100%);
  text-decoration: none;
  padding: 10px 20px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  box-shadow: 10px 10px 40px rgba(30, 80, 156, 0.275),
  0px 0px 30px rgba(45, 241, 255, 0.044);
  border:none;
  border-radius: 5px;
  color: rgba(151, 1, 104, 0.474);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }
}

.label {
  @extend %label;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.appearance--primary {
  background: linear-gradient(90deg, rgb(255, 176, 222) 0%, rgb(147, 232, 255) 100%);
  color: rgba(218, 0, 69, 0.372);
}


.appearance--default {
  padding: 0;
  color: rgb(255, 255, 255);
}

.appearance--none {
  padding: 0;
  color: rgb(255, 255, 255);

  &:local() {
    .label {
      text-transform: none;
      line-height: inherit;
      font-size: inherit;
    }
  }
}
