@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: transparent;
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  cursor: pointer;
  display: inline-flex;
  width: 70%;
  justify-content: center;
  background: linear-gradient(90deg, rgba(249, 39, 39, 0.293) 0%, #ff06a44b 100%);
  text-decoration: none;
  padding: 10px 20px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  box-shadow: 10px 10px 40px rgba(0, 73, 168, 0.313),
  0px 0px 30px rgba(251, 94, 173, 0.156);
  border:none;
  border-radius: 5px;
  color: white;

}
  .title:hover {
    color: rgba(81, 19, 98, 0.523);
  }
  
  .title:active {
    background: rgb(49, 205, 171); /* Change color on click */
    color: rgb(255, 255, 255);
    box-shadow: 7px 7px 15px rgba(102, 255, 150, 0.729),
    0px 0px 15px rgba(2, 217, 255, 0.612);
}