@import "../../../_css/common";
.header {
  padding: 10px 0;
  position: sticky;
  background-color: rgb(235, 242, 255);
  top: 0;
  z-index: 2;
  @include mid-break {
    padding: 0px 0;
    font-weight: 500;
  }
}

.wrap{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap:wrap-reverse;
  gap: calc(var(--base) / 2) var(--base);
  @include mid-break {
    font-weight: 500;
    font-size: smaller;


  }


}

.logo {
  margin-left: 4rem;
  width: 170px;
  @include mid-break {
    margin-top: -20px;
    margin-left: 0;
  }
}

.hide {
  display: none;
}