@import '../../_css/common';

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--color-dark-500);
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  border: 1px solid rgb(2, 202, 132);
  background: rgb(49, 205, 171); /* Change color on click */
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(102, 255, 150, 0.729),
  0px 0px 15px rgba(2, 217, 255, 0.612);
  position: relative;
}

.checkbox:checked::before {
  content: '\2713';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 0;
}