@use '../../_css/queries.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titleWrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;

  h3 {
    justify-items: center;
    align-items: center;
    font-weight: 300;
    @include small-break {
      font-weight: 200;
      font-size: medium;
    }
  }
}

.list {
  display: grid;
  gap: 30px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);

  @include small-break {
    grid-template-columns: 1fr;
  }
}