@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}

.button {
  
  @include mid-break {
    margin-left: 9rem;
    width: 60px;
    height: 40px;

    @include mid-break {
      margin-top: 8px;
      width: 55px;
      height: 40px;
    }
    
    
  }
}
.button .Login{
    background: rgb(49, 205, 171); /* Change color on click */
    color: rgb(255, 255, 255);
    
}
.hide {
  opacity: 0;
  visibility: hidden;
}
