@import '../../_css/common';

.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: system-ui;
  border: none;
  box-shadow: none;
  background: linear-gradient(90deg, rgba(255, 250, 254, 0.564) 0%, rgba(204, 244, 255, 0.104) 100%);
  box-shadow: 10px 10px 40px rgba(30, 110, 156, 0.324),
  0px 0px 30px rgb(255, 228, 248);
  border-radius: 5px;
  color: var(--theme-elevation-1000);
  height: calc(var(--base) * 2);
  line-height: calc(var(--base) * 2);
  padding: 0 calc(var(--base) / 2);
  font-size: inherit;

  &:focus {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.183);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(190, 86, 203);
    box-shadow: 10px 10px 40px rgba(30, 118, 156, 0.324),
    0px 0px 30px rgb(246, 222, 240);
    transition: background-color 5000s ease-in-out 0s;
  }
}

.asterisk {
  color: var(--color-error-500);
}

:global([data-theme="dark"]) {
  .input {
    background-color: rgba(110, 160, 210, 0.27);
  }
}

.error {
  background-color: var(--theme-error-150);
}

.label {
  margin-bottom: 0;
  display: block;
  line-height: 1;
  margin-bottom: calc(var(--base) / 2);
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  color: red;
}
